body {
    font-size: 1em;
    font-family: sans-serif;
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.clock {
    font-size: 3rem;
}

.form {
    display: none;
}

.js-weather {
    position: absolute;
    top: 20px;
    right: 50px;
}

ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: feadIn, 1s linear;
}